<footer class="lg:mb-8">
  <div class="mx-auto max-w-5xl overflow-hidden bg-gray-700 p-6 lg:px-8 lg:rounded-lg lg:shadow-lg">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12 text-center" aria-label="Footer">
      {{ range .Site.Menus.footer }}
        <div class="pb-6">
          <a href="{{ .URL }}" target="{{ .Params.target }}" class="text-sm leading-6 text-gray-200 font-mono font-semibold hover-underline-animation">{{ .Name }}</a>
        </div>
      {{ end }}
    </nav>

    <p class="mt-8 text-center text-xs leading-5 text-gray-300">&copy; Henry Akmann {{ dateFormat "2006" now }}</p>
  </div>
</footer>
