<header class="bg-gray-100">
  <nav class="mx-auto max-w-5xl bg-gray-700 p-6 lg:px-8 lg:mt-8 flex items-center justify-between lg:rounded-lg lg:shadow-lg" aria-label="Global">
    <a href="/" class="-m-1.5 p-1.5">
      <span class="text-2xl text-gray-200 font-mono font-bold">~/akmann</span>
    </a>
    <div class="flex lg:hidden">
      <button id="header-open-button" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-200">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      {{ range .Site.Menus.header.ByWeight }}
        <a href="{{ .URL }}" target="{{ .Params.target }}" class="text-sm font-mono font-semibold leading-6 text-gray-100 hover-underline-animation">{{ .Name }}</a>
      {{ end }}
    </div>
  </nav>

  <div id="header-mobile-menu" class="hidden lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div class="fixed inset-y-0 right-0 z-10 w-full h-screen overflow-y-auto bg-gray-700 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="text-2xl text-gray-200 font-mono font-bold">~/akmann</span>
        </a>
        <button id="header-close-button" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-200">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-12 flow-root">
        <div class="flex flex-col gap-8 items-center justify-center">
          {{ range .Site.Menus.header }}
            <a href="{{ .URL }}" target="{{ .Params.target }}" class="-mx-3 !block rounded-lg px-3 py-2 text-center text-2xl text-gray-100 font-mono font-semibold leading-7 hover-underline-animation">{{ .Name }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</header>

<script>
// Toggle Mobile Menu Start
document.getElementById("header-open-button").addEventListener("click", () => {
  document.getElementById("header-mobile-menu").classList.toggle("hidden")
})

document.getElementById("header-close-button").addEventListener("click", () => {
  document.getElementById("header-mobile-menu").classList.toggle("hidden")
})
// Toggle Mobile Menu End
</script>